<div class="accordion">
		<div class="header" data-bind="click: showContent, css: {active: isActive()}">
				<span data-bind="text: heading"></span>
				<div class="icon">
					<div class="left-line" data-bind="css: {active: isActive()}"></div>
					<div class="right-line" data-bind="css: {active: isActive()}"></div>
				</div>
		</div>
		<div class="body" data-bind="css: {active: isActive()}">
			<div class="container" data-bind="foreach: components">
				<!-- ko component: component -->
				<!-- /ko -->
			</div>
		</div>
</div>
